body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail{
    margin-left: 70px;
    width: 100px;
    height: 100px;
}

.thumbnail img{
    width: 100%;
    height: 100%;
}

textarea{
    height: 200px;
    resize: none;
}